<p>
	<label id="gist_name">Name</label>
	<input type="text" id="gist_name">
</p>
<p>
	<textarea placeholder="Enter Gist Here" style="height:100px; width:200px"
						id="gist_body"></textarea>
</p>
<p>
	<button id="gist_submit">Submit</button>
</p>
<form>
