<h1>Gists Index</h1>
<a href="/#/gists/new">Create a new gist</a>
<ul>
	<% gists.each( function (gist) { %>
		<li><a href="#/gists/<%= gist.id %>"><%= gist.escape('title') %></a></li>
	<% }); %>
</ul>
